$mui-palette-primary-Main: "#e66c0f";
$mui-palette-primary-light: "#f7fbfc";
$mui-palette-primary-dark: "#294753";
$mui-palette-primary-contrastText: "#fff";

.globalContainer {
  min-height: 100vh;
  background-color: #fbf9fb;
  display: flex;
  flex-direction: column;
}

.headerBarContainer {
  > .headerBar {
    margin: 2rem 8vw 5px 8vw;
    height: 100px;
    border-radius: 20px;
    padding: 20px 30px;
    background-color: #303031;
    display: flex;
    gap: 20px;

    > img {
      height: 100%;
    }
  }

  > .caffeineBarContainer {
    margin: 5px 10vw 2rem 10vw;
    border-radius: 20px;
    padding: 5px 30px 7px 30px;
    background-color: #303031;
    display: flex;
    gap: 20px;
  }
}

.headerBarNav {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 900px) {
    display: none;
  }

  > * {
    color: white !important;
    text-decoration: none !important;
    display: flex;
    align-items: center;

    &:hover {
      color: #ebbe77 !important;
    }
  }
}

.footer {
  margin: 50px;
  max-width: none;
}

.contentsContainer {
  display: flex;
  flex: 1 1 auto;
}

.coffeeContainer {
  > div {
    margin: 0;

    > img {
      aspect-ratio: 1/1;
      object-fit: cover;
      width: 100%;
      margin: 0;
    }
  }
}
