html {
  background-color: #303031;
}

.globalContainer {
  min-height: 100vh;
  background-color: #fbf9fb;
  display: flex;
  flex-direction: column;
}

.headerBarContainer {
  > .headerBar {
    margin: 2rem 8vw 5px 8vw;
    height: 100px;
    border-radius: 20px;
    padding: 20px 30px;
    background-color: #303031;
    display: flex;
    gap: 20px;

    @media screen and (max-width: 550px) {
      height: 80px;
      margin: 0;
      border-radius: 0;
      padding: 1rem 1.2rem;
      gap: 12px;
      flex-wrap: nowrap;
    }

    > a {
      height: 100%;

      > img {
        height: 100%;
        object-fit: contain;
      }
    }
  }

  > .caffeineBarContainer {
    margin: 5px 10vw 2rem 10vw;
    border-radius: 20px;
    padding: 5px 30px 7px 30px;
    background-color: #303031;
    display: flex;
    gap: 20px;

    @media screen and (max-width: 550px) {
      margin: 5px 2vw;
      padding: 5px;
      border-radius: 8px;
    }

    > span {
      @media screen and (max-width: 550px) {
        padding: 0;
      }
    }
  }
}

.burgerMenuList {
  > div {
    background-color: transparent;
    > ul {
      background-color: #303031;
      color: white;
      border-radius: 0;
      padding: 0.7rem;
    }
  } 
}

.headerBarNav {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 900px) {
    display: none;
  }

  > * {
    color: white !important;
    text-decoration: none !important;
    display: flex;
    align-items: center;

    &:hover {
      color: #ebbe77 !important;
    }
  }
}

.footer {
  margin: 50px;
  max-width: none;
}

.contentsContainer {
  display: flex;
  flex: 1 1 auto;
}

.gradientMuiSlider {
  
}

.coffeeContainer {
  > div {
    margin: 0;

    > img {
      aspect-ratio: 1/1;
      object-fit: cover;
      width: 100%;
      margin: 0;
    }
  }
}
